@model IEnumerable<Student>

@{ 
    //Layout = null;
    ViewBag.Title = "学生详情页";

}
    <div class="card-group">
        @foreach (var student in Model) {
            var photoPath = "~/images/" + (student.PhotoPath ?? "1.jpg");//三元运算符

        <div class="card m-3">
            <div class="card-header">
                <h3>@student.Name</h3>
            </div>
            <img class="card-img-top imagesThumbnail" src="@photoPath" asp-append-version="true" />@*~/images/1.jpg*@

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="details" asp-route-id="@student.Id" class="btn btn-primary m-1'">查看</a>
                @*<a href="/home/details/@student.Id" class="btn btn-primary">查看</a>*@
                <a asp-controller="Home" asp-action="edit" asp-route-id="@student.Id" class="btn btn-primary m-1">编辑</a>
                <a asp-controller="Home" asp-action="delete" asp-route-id="@student.Id" class="btn btn-danger m-">删除</a>  
            </div>
        </div>
        }
    </div>
